--
-- PostgreSQL database dump
--

\restrict lhJNbldj8wDKzgLXrRRXW7JehgirN2zsZih6ZqCsKil3FhEwspX6zqwHS6Toz2d

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: adherencestatus; Type: TYPE; Schema: public; Owner: alzai
--

CREATE TYPE public.adherencestatus AS ENUM (
    'taken',
    'missed',
    'skipped'
);


ALTER TYPE public.adherencestatus OWNER TO alzai;

--
-- Name: appointmentstatus; Type: TYPE; Schema: public; Owner: alzai
--

CREATE TYPE public.appointmentstatus AS ENUM (
    'pending',
    'confirmed',
    'completed',
    'cancelled'
);


ALTER TYPE public.appointmentstatus OWNER TO alzai;

--
-- Name: roleenum; Type: TYPE; Schema: public; Owner: alzai
--

CREATE TYPE public.roleenum AS ENUM (
    'doctor',
    'caretaker',
    'patient'
);


ALTER TYPE public.roleenum OWNER TO alzai;

--
-- Name: userstatus; Type: TYPE; Schema: public; Owner: alzai
--

CREATE TYPE public.userstatus AS ENUM (
    'pending',
    'active',
    'rejected'
);


ALTER TYPE public.userstatus OWNER TO alzai;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: adherence_logs; Type: TABLE; Schema: public; Owner: alzai
--

CREATE TABLE public.adherence_logs (
    id uuid NOT NULL,
    patient_id uuid NOT NULL,
    medication_id uuid NOT NULL,
    scheduled_time character varying NOT NULL,
    status public.adherencestatus,
    confirmed_at timestamp without time zone,
    confirmed_date character varying NOT NULL
);


ALTER TABLE public.adherence_logs OWNER TO alzai;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: alzai
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO alzai;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: alzai
--

CREATE TABLE public.alerts (
    id uuid NOT NULL,
    patient_id uuid NOT NULL,
    created_by uuid,
    alert_type character varying NOT NULL,
    severity integer NOT NULL,
    message text NOT NULL,
    is_acknowledged boolean,
    acknowledged_by uuid,
    acknowledged_at timestamp without time zone,
    created_at timestamp without time zone
);


ALTER TABLE public.alerts OWNER TO alzai;

--
-- Name: appointments; Type: TABLE; Schema: public; Owner: alzai
--

CREATE TABLE public.appointments (
    id uuid NOT NULL,
    patient_id uuid NOT NULL,
    doctor_id uuid NOT NULL,
    caretaker_id uuid,
    scheduled_at timestamp without time zone NOT NULL,
    status public.appointmentstatus,
    notes text,
    reminder_sent boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.appointments OWNER TO alzai;

--
-- Name: audit_anomalies; Type: TABLE; Schema: public; Owner: alzai
--

CREATE TABLE public.audit_anomalies (
    id uuid NOT NULL,
    rule_triggered character varying NOT NULL,
    user_id uuid NOT NULL,
    details json,
    flagged_at timestamp without time zone
);


ALTER TABLE public.audit_anomalies OWNER TO alzai;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: alzai
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    patient_id uuid,
    action character varying NOT NULL,
    entity_type character varying,
    entity_id character varying,
    old_value json,
    new_value json,
    ip_address character varying,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.audit_logs OWNER TO alzai;

--
-- Name: caretaker_patient; Type: TABLE; Schema: public; Owner: alzai
--

CREATE TABLE public.caretaker_patient (
    id uuid NOT NULL,
    caretaker_id uuid NOT NULL,
    patient_id uuid NOT NULL,
    relationship_type character varying NOT NULL,
    is_primary boolean,
    escalation_order integer,
    linked_at timestamp without time zone,
    verified_at timestamp without time zone,
    link_status character varying(50) DEFAULT 'active'::character varying NOT NULL
);


ALTER TABLE public.caretaker_patient OWNER TO alzai;

--
-- Name: medications; Type: TABLE; Schema: public; Owner: alzai
--

CREATE TABLE public.medications (
    id uuid NOT NULL,
    patient_id uuid NOT NULL,
    name character varying NOT NULL,
    dosage character varying NOT NULL,
    scheduled_times json NOT NULL,
    tablet_photo_url character varying,
    is_active boolean,
    created_by uuid NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.medications OWNER TO alzai;

--
-- Name: patients; Type: TABLE; Schema: public; Owner: alzai
--

CREATE TABLE public.patients (
    id uuid NOT NULL,
    patient_unique_id character varying NOT NULL,
    full_name character varying NOT NULL,
    dob date NOT NULL,
    level integer NOT NULL,
    language character varying NOT NULL,
    trusted_phone character varying NOT NULL,
    doctor_id uuid NOT NULL,
    created_at timestamp without time zone,
    is_legacy_id boolean,
    timezone character varying NOT NULL
);


ALTER TABLE public.patients OWNER TO alzai;

--
-- Name: photos; Type: TABLE; Schema: public; Owner: alzai
--

CREATE TABLE public.photos (
    id uuid NOT NULL,
    patient_id uuid NOT NULL,
    sender_id uuid NOT NULL,
    cloudinary_url character varying NOT NULL,
    caption character varying,
    sent_at timestamp without time zone,
    is_viewed boolean
);


ALTER TABLE public.photos OWNER TO alzai;

--
-- Name: users; Type: TABLE; Schema: public; Owner: alzai
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    role public.roleenum NOT NULL,
    full_name character varying NOT NULL,
    phone character varying NOT NULL,
    nmc_number character varying,
    specialization character varying,
    hospital_name character varying,
    status public.userstatus,
    device_fingerprint character varying,
    dnd_start time without time zone,
    dnd_end time without time zone,
    created_at timestamp without time zone,
    under_dispute boolean DEFAULT false NOT NULL,
    last_login timestamp with time zone,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO alzai;

--
-- Data for Name: adherence_logs; Type: TABLE DATA; Schema: public; Owner: alzai
--

COPY public.adherence_logs (id, patient_id, medication_id, scheduled_time, status, confirmed_at, confirmed_date) FROM stdin;
db5e83f7-b5a6-4db1-bef5-993bc0abd267	f6b3bc7e-e68d-4271-9e4e-77df743d41db	9e08b41f-687b-4cea-83e4-bb12749d682c	01:00	taken	2026-04-18 12:41:22.589658	2026-04-18
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: alzai
--

COPY public.alembic_version (version_num) FROM stdin;
009
\.


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: alzai
--

COPY public.alerts (id, patient_id, created_by, alert_type, severity, message, is_acknowledged, acknowledged_by, acknowledged_at, created_at) FROM stdin;
\.


--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: alzai
--

COPY public.appointments (id, patient_id, doctor_id, caretaker_id, scheduled_at, status, notes, reminder_sent, created_at) FROM stdin;
\.


--
-- Data for Name: audit_anomalies; Type: TABLE DATA; Schema: public; Owner: alzai
--

COPY public.audit_anomalies (id, rule_triggered, user_id, details, flagged_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: alzai
--

COPY public.audit_logs (id, user_id, patient_id, action, entity_type, entity_id, old_value, new_value, ip_address, "timestamp") FROM stdin;
\.


--
-- Data for Name: caretaker_patient; Type: TABLE DATA; Schema: public; Owner: alzai
--

COPY public.caretaker_patient (id, caretaker_id, patient_id, relationship_type, is_primary, escalation_order, linked_at, verified_at, link_status) FROM stdin;
580a1230-2a2d-4dbc-83f0-e16a65da5cde	ce8d2454-7326-4dbc-922e-48a843d3ccd8	f6b3bc7e-e68d-4271-9e4e-77df743d41db	son	t	1	2026-04-18 12:41:22.476374	2026-04-18 13:43:25.430528	active
570bf214-d92c-4b24-9bd7-7cf9380002cb	3d6a4ac8-489f-4a6a-b24b-0a4d234d7a1e	738cdd2e-48b4-4512-bb3e-2c95dbf34284	primary	t	1	2026-04-18 15:18:32.970076	2026-04-18 15:18:32.968502	active
\.


--
-- Data for Name: medications; Type: TABLE DATA; Schema: public; Owner: alzai
--

COPY public.medications (id, patient_id, name, dosage, scheduled_times, tablet_photo_url, is_active, created_by, created_at) FROM stdin;
9e08b41f-687b-4cea-83e4-bb12749d682c	f6b3bc7e-e68d-4271-9e4e-77df743d41db	Pill	1	["01:00", "23:00"]	\N	t	ce8d2454-7326-4dbc-922e-48a843d3ccd8	2026-04-18 12:41:22.474627
\.


--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: alzai
--



--
-- Data for Name: photos; Type: TABLE DATA; Schema: public; Owner: alzai
--

COPY public.photos (id, patient_id, sender_id, cloudinary_url, caption, sent_at, is_viewed) FROM stdin;
7cef090b-54ee-48a3-befb-37528252ecc2	738cdd2e-48b4-4512-bb3e-2c95dbf34284	3d6a4ac8-489f-4a6a-b24b-0a4d234d7a1e	https://res.cloudinary.com/demo/image/upload/v1312461204/sample.jpg	\N	2026-04-18 15:45:30.376665	f
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: alzai
--



--
-- Name: adherence_logs adherence_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.adherence_logs
    ADD CONSTRAINT adherence_logs_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: audit_anomalies audit_anomalies_pkey; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.audit_anomalies
    ADD CONSTRAINT audit_anomalies_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: caretaker_patient caretaker_patient_pkey; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.caretaker_patient
    ADD CONSTRAINT caretaker_patient_pkey PRIMARY KEY (id);


--
-- Name: medications medications_pkey; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.medications
    ADD CONSTRAINT medications_pkey PRIMARY KEY (id);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (id);


--
-- Name: photos photos_pkey; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_pkey PRIMARY KEY (id);


--
-- Name: adherence_logs uix_adherence_daily; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.adherence_logs
    ADD CONSTRAINT uix_adherence_daily UNIQUE (patient_id, medication_id, scheduled_time, confirmed_date);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_user_nmc; Type: INDEX; Schema: public; Owner: alzai
--

CREATE INDEX idx_user_nmc ON public.users USING btree (nmc_number) WHERE (nmc_number IS NOT NULL);


--
-- Name: ix_patients_patient_unique_id; Type: INDEX; Schema: public; Owner: alzai
--

CREATE UNIQUE INDEX ix_patients_patient_unique_id ON public.patients USING btree (patient_unique_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: alzai
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: adherence_logs adherence_logs_medication_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.adherence_logs
    ADD CONSTRAINT adherence_logs_medication_id_fkey FOREIGN KEY (medication_id) REFERENCES public.medications(id);


--
-- Name: adherence_logs adherence_logs_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.adherence_logs
    ADD CONSTRAINT adherence_logs_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: alerts alerts_acknowledged_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_acknowledged_by_fkey FOREIGN KEY (acknowledged_by) REFERENCES public.users(id);


--
-- Name: alerts alerts_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: alerts alerts_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: appointments appointments_caretaker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_caretaker_id_fkey FOREIGN KEY (caretaker_id) REFERENCES public.users(id);


--
-- Name: appointments appointments_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.users(id);


--
-- Name: appointments appointments_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: audit_anomalies audit_anomalies_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.audit_anomalies
    ADD CONSTRAINT audit_anomalies_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: audit_logs audit_logs_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: caretaker_patient caretaker_patient_caretaker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.caretaker_patient
    ADD CONSTRAINT caretaker_patient_caretaker_id_fkey FOREIGN KEY (caretaker_id) REFERENCES public.users(id);


--
-- Name: caretaker_patient caretaker_patient_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.caretaker_patient
    ADD CONSTRAINT caretaker_patient_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: medications medications_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.medications
    ADD CONSTRAINT medications_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: medications medications_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.medications
    ADD CONSTRAINT medications_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: patients patients_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.users(id);


--
-- Name: photos photos_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: photos photos_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: alzai
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict lhJNbldj8wDKzgLXrRRXW7JehgirN2zsZih6ZqCsKil3FhEwspX6zqwHS6Toz2d

